.body {
	background-color: rgb(178, 220, 246);
}

.main-div {
	position: absolute;
	top: 25%;
	right: 42%;
	width: 13%;
	height: 45%;
	margin: auto;
	border-radius: 20px;
	padding: 10px;
	background-color: white;
}

.QR-image {
	border-radius: 20px;
	width: 100%;
	height: 60%;
}

.h2-heading {
	text-align: center;
	font-family: "Outfit";
	font-size: 18px;
	padding: 5px 5px 0px 5px;
}

.para {
	text-align: center;
	font-family: "Outfit";
	font-size: 14px;
	color: rgb(148, 148, 148);
	padding: 0px 5px 5px 5px;
}
